<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.malick" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Malick</name>
    <description>The Top News Articles</description>
    <author email="maliekblog@gmail.com" href="https://maliekblog.blogspot.com">
        Maliek Blog
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <platform name="android">
        <preference name="SplashScreenDelay" value="1000" />
    </platform>
    <platform name="ios">
        <preference name="SplashScreenDelay" value="1000" />
    </platform>
</widget>
